In [1]:
!wget -O survey-data.csv https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

# Step 2: Import necessary libraries and load the dataset
import pandas as pd
import matplotlib.pyplot as plt

# Load the data
df = pd.read_csv("survey-data.csv")

# Display the first few rows to understand the structure of the data
df.head()

"wget" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

In [16]:


la = df[['LanguageWantToWorkWith',
            'DatabaseWantToWorkWith',
            'PlatformWantToWorkWith',
            'WebframeWantToWorkWith',
            'LearnCode',
            'EdLevel'
]].dropna()
new_df

,LanguageWantToWorkWith,DatabaseWantToWorkWith,PlatformWantToWorkWith,WebframeWantToWorkWith,LearnCode,EdLevel
1,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,PostgreSQL,Amazon Web Services (AWS);Heroku;Netlify,Express;Htmx;Node.js;React;Remix,Books / Physical media;Colleague;On the job tr...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
2,C#,Firebase Realtime Database,Google Cloud,ASP.NET CORE,Books / Physical media;Colleague;On the job tr...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
3,HTML/CSS;Java;JavaScript;PowerShell;Python;SQL...,MongoDB;MySQL;PostgreSQL,Amazon Web Services (AWS);Vercel,jQuery;Next.js;Node.js;React,"Other online resources (e.g., videos, blogs, f...",Some college/university study without earning ...
5,Bash/Shell (all shells);HTML/CSS;Java;JavaScri...,Cloud Firestore,Cloudflare,Node.js,"School (i.e., University, College, etc);Online...",Primary/elementary school
7,HTML/CSS;JavaScript;TypeScript,Supabase,Vercel,Next.js;React,"Other online resources (e.g., videos, blogs, f...","Secondary school (e.g. American high school, G..."
...,...,...,...,...,...,...
65351,Bash/Shell (all shells);C;C++;HTML/CSS;Java;Ja...,Cassandra;Firebase Realtime Database;MariaDB;M...,Amazon Web Services (AWS);Cloudflare;Firebase;...,Django;Express;Laravel;NestJS;Next.js;Node.js;...,Books / Physical media;On the job training;Sch...,Some college/university study without earning ...
65367,Go;JavaScript;Rust;TypeScript,MongoDB;PostgreSQL;Redis,Amazon Web Services (AWS);Google Cloud;Heroku;...,Express;Node.js,Books / Physical media;Online Courses or Certi...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
65401,C#;HTML/CSS;JavaScript;Python;SQL;TypeScript,Couch DB;Elasticsearch,Microsoft Azure,Angular;Node.js,Colleague;On the job training;Other online res...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
65409,HTML/CSS;JavaScript;PowerShell,MongoDB,Google Cloud;Vercel,jQuery;Next.js;Node.js;React;WordPress,"Other online resources (e.g., videos, blogs, f...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
65431,Bash/Shell (all shells);C#;Go;HTML/CSS;Java;Ja...,Elasticsearch;PostgreSQL;Redis,Amazon Web Services (AWS);Firebase;Microsoft A...,Angular;ASP.NET;ASP.NET CORE;Node.js;Spring Boot,Books / Physical media;Colleague;On the job tr...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"

In [3]:
pl=df[['PlatformWantToWorkWith','PlatformHaveWorkedWith']].dropna()
pl.loc[:,'PlatformWantToWorkWith'] = pl['PlatformWantToWorkWith'].str.split(';')
pl = pl.explode('PlatformWantToWorkWith')
pl.loc[:,'PlatformHaveWorkedWith'] = pl['PlatformHaveWorkedWith'].str.split(';')
pl = pl.explode('PlatformHaveWorkedWith')
pl

          PlatformWantToWorkWith     PlatformHaveWorkedWith
1      Amazon Web Services (AWS)  Amazon Web Services (AWS)
1      Amazon Web Services (AWS)                     Heroku
1      Amazon Web Services (AWS)                    Netlify
1                         Heroku  Amazon Web Services (AWS)
1                         Heroku                     Heroku
...                          ...                        ...
65436                     Vercel  Amazon Web Services (AWS)
65436                     Vercel                 Cloudflare
65436                     Vercel               Google Cloud
65436                     Vercel                    Netlify
65436                     Vercel                     Vercel

[276696 rows x 2 columns]

In [4]:
wb=df[['WebframeWantToWorkWith','WebframeHaveWorkedWith']].dropna()
wb.loc[:,'WebframeWantToWorkWith'] = wb['WebframeWantToWorkWith'].str.split(';')
wb = wb.explode('WebframeWantToWorkWith')
wb.loc[:,'WebframeHaveWorkedWith'] = wb['WebframeHaveWorkedWith'].str.split(';')
wb = wb.explode('WebframeHaveWorkedWith')
wb

      WebframeWantToWorkWith WebframeHaveWorkedWith
1                    Express                Express
1                    Express                Next.js
1                    Express                Node.js
1                    Express                  React
1                       Htmx                Express
...                      ...                    ...
65436                  React                Express
65436                  React                 jQuery
65436                  React                Next.js
65436                  React                Node.js
65436                  React                  React

[641547 rows x 2 columns]

In [5]:
db=df[['DatabaseWantToWorkWith','DatabaseHaveWorkedWith']].dropna()
db.loc[:,'DatabaseWantToWorkWith'] = db['DatabaseWantToWorkWith'].str.split(';')
db = db.explode('DatabaseWantToWorkWith')
db.loc[:,'DatabaseHaveWorkedWith'] = db['DatabaseHaveWorkedWith'].str.split(';')
db = db.explode('DatabaseHaveWorkedWith')
db

           DatabaseWantToWorkWith      DatabaseHaveWorkedWith
1                      PostgreSQL                    Dynamodb
1                      PostgreSQL                     MongoDB
1                      PostgreSQL                  PostgreSQL
2      Firebase Realtime Database  Firebase Realtime Database
3                         MongoDB                     MongoDB
...                           ...                         ...
65436                       MySQL                  PostgreSQL
65436                  PostgreSQL                     MongoDB
65436                  PostgreSQL                       MySQL
65436                  PostgreSQL                      Oracle
65436                  PostgreSQL                  PostgreSQL

[536018 rows x 2 columns]

In [20]:
new_df = new_df.reset_index(drop=True)

In [7]:
la=df[['LanguageWantToWorkWith', 'LanguageHaveWorkedWith']].dropna()
la.loc[:,'LanguageWantToWorkWith'] = la['LanguageWantToWorkWith'].str.split(';')
la = la.explode('LanguageWantToWorkWith')
la.loc[:,'LanguageHaveWorkedWith'] = la['LanguageHaveWorkedWith'].str.split(';')
la= la.explode('LanguageHaveWorkedWith')
la

        LanguageWantToWorkWith   LanguageHaveWorkedWith
1      Bash/Shell (all shells)  Bash/Shell (all shells)
1      Bash/Shell (all shells)                       Go
1      Bash/Shell (all shells)                 HTML/CSS
1      Bash/Shell (all shells)                     Java
1      Bash/Shell (all shells)               JavaScript
...                        ...                      ...
65436               TypeScript                     Java
65436               TypeScript               JavaScript
65436               TypeScript                      PHP
65436               TypeScript                   Python
65436               TypeScript               TypeScript

[1798291 rows x 2 columns]

In [ ]:
new_df = new_df.reset_index(drop=True)

In [8]:
# --- 4. сохранить CSV ---
pl.to_csv('platform_survey-data.csv', index=False, encoding='utf-8-sig')
wb.to_csv('web_survey-data.csv', index=False, encoding='utf-8-sig')
db.to_csv('DataBase_survey-data.csv', index=False, encoding='utf-8-sig')
la.to_csv('language_survey-data.csv', index=False, encoding='utf-8-sig')
print("Готово. Файлы сохранёны")

Готово. Файлы сохранёны

In [ ]:
df_2=df[['LanguageHaveWorkedWith',
    'DatabaseHaveWorkedWith',
    'PlatformHaveWorkedWith',
    'WebframeHaveWorkedWith']].dropna()

In [ ]:
# --- по одному столбцу: split -> explode ---
df_2.loc[:,'LanguageHaveWorkedWith'] = new_df['LanguageHaveWorkedWith'].str.split(';')
df_2 = df_2.explode('LanguageHaveWorkedWith')

In [ ]:
# --- 4. сохранить CSV ---
new_2.to_csv('new_survey-data.csv', index=False, encoding='utf-8-sig')

print("Готово. Файл сохранён как new_survey-data.csv")

In [ ]:
new_df['LanguageHaveWorkedWith']